---
import { Picture } from "@astrojs/image/components";
import ourIcon from "~/icons/d-fissure.png";
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<!-- <ContentSection id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
 

  <Fragment slot="lead">
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
  </div>
</ContentSection> -->
<div
  id="simple_intro"
  class="flex scroll-mt-24 flex-col items-center space-y-8"
>
  <div class="flex flex-row items-center">
     <Picture
        class="h-20 object-cover"
        src={ourIcon}
        widths={[400, 400]}
        sizes={"400vw"}
        loading="eager"
      />
      <div class="text-3xl">
        次元裂缝科考队
      </div>
  </div>
  <p class="lg:w-3/4 text-start text-sm">
    我们是一个相信<span class="text-primary">热爱至上</span>的<span class="text-primary">MR应用开发团队</span>。我们怀揣着简单纯粹的愿望：探索出MR的Killer APP形态，并将它在现实的制约下一步一步真正带到用户面前。<br/> 
    我们成立于2021年11月，目前共有11人，涵盖算法、交互、策划、研发、美术等角色，<span class="text-primary">能力综合全面</span>。目前，我们主要是以为爱发电的方式在开展MR应用开发实践，团队背景主要是来自网易、VIVO、英伟达等科技公司员工，毕业或就读于浙江大学、江南大学、中国美院、纽约大学等高校。<br/> 
    目前，我们主要完成了<span class="text-primary">四款MR休闲游戏的开发</span>，涵盖Quest、Pico、QIYU、Rokid、Xreal等主流MR/AR设备平台，并完成了一款游戏的正式上线。除了MR游戏外，我们也在积极探索如AR+AI、AR+NeRF等可能的AR应用方向。<br/> 
    更多关于我们的介绍可跳转至 <a href="#intro"><i class="text-primary">我们的自白</i></a>。

  </p>
  <slot />
</div>