---
import { Icon } from "astro-icon";
import ContentSection from "~/components/work-section.astro";
---

<ContentSection title="MR手鼓" id="w1">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <iframe class="w-full lg:w-3/4 aspect-video" src="//player.bilibili.com/player.html?aid=786453849&bvid=BV1x14y1z7fP&cid=1210177722&page=1&high_quality=1&autoplay=0" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="allowfullscreen"> </iframe>
  <!-- <Fragment slot="lead">
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment> -->
  <!-- <Fragment>
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment> -->
  <div class="lg:w-3/4">
    <p 
      class="text-start text-sm"
    ><span class="text-primary">[项目介绍]</span> MR手鼓0.1版！游戏分三步：1.把鼓放到桌子上 2.跟着节奏拍鼓（拍桌子）3.手疼。
      这是我们在7.16在VRPlay举办的中国首届MR黑客松上，花48小时做出的技术demo。目前正在升级完善中，会尽快于SideQuest以及Pico上线。敬请期待~
      在这个游戏中我们主要尝试带来“物理反馈”的独特MR体验（拍桌子），并尝试回答“裸手交互下没有物理反馈怎么办”的问题。我们认为物理反馈将会是MR情境下非常独特的交互体验与游戏价值之一，在成熟的音游框架下必将大放光彩。 <br/>
    </p>
  </div>
</ContentSection>
