---
import { Icon } from "astro-icon";
import ContentSection from "~/components/work-section.astro";
---

<ContentSection title="童梦游记-MR塔防" id="w1">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <iframe class="w-full lg:w-3/4 aspect-video" src="//player.bilibili.com/player.html?aid=446489033&bvid=BV1fj411X7Fp&cid=1210119606&page=1&high_quality=1&autoplay=0" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="allowfullscreen"> </iframe>
  <!-- <Fragment slot="lead">
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment> -->
  <!-- <Fragment>
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment> -->
</ContentSection>
